{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                        
                          <h2>Item Details</h2>
                        
                        
                        
                            
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

  <!--================Single Product Area =================-->
  <section class ="confirmation_part">
    {% for message in messages %}

                    {% if success%}
                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
                    
                    {% else %}
                    <div class="alert alert-danger">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
                    {% endif %}
    {% endfor %}
  <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
            <div class="login_part_text text-center">
                <div class="login_part_text_iner">
                  <img src="{{item.image_url.url}}" alt="{{item.item_name}}"  width =400px>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-lx-4">
        <div class="single_confirmation_details">
          <h3>Item Details</h3>
          <table class="table table-borderless">
            
            <tbody>
              <tr>
                <th colspan="2"><span>Item Name</span></th>
                <th>{{item.item_name}}</th>
                
              </tr>
              <tr>
                <th colspan="2"><span>Item Description</span></th>
                <th>{{item.item_description}}</th>
                
              </tr><tr>
                <th colspan="2"><span>Seller</span></th>
                <th>{{item.seller_id}}</th>
                
              </tr><tr>
                <th colspan="2"><span>Category</span></th>
                <th>{{item.category}}</th>
                
              
              
          </table>
          
        </div>
      </div>
        </div></div>
      </section>  
  <!-- subscribe part end -->
{% endblock %}